extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="imagen de nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, neque odio eligendi provident fuga veritatis similique quis est ullam, in ad, tempora a ea velit. Dicta perferendis eaque maxime mollitia?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim debitis eligendi doloribus, quo accusantium pariatur laboriosam nobis praesentium, officiis, modi doloremque. Incidunt facere corporis, harum eos provident perspiciatis obcaecati nihil.Lorem ipis praesentium, officiis, modi doloremque. Incidunt facere corporis, harum eos provident perspiciatis obcaecati nihil
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim debitis eligendi doloribus, quo accusantium pariatur laboriosam nobis praesentium, officiis, modi doloremque. Incidunt facere corporis, harum eos provident perspiciatis obcaecati nihil.

    .listado-iconos
        .container.mt-3.py-3.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icon secure" class="img-fluid mb-3")
                    h2.mb-3 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icon destino" class="img-fluid mb-3")
                    h2.mb-3 Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit
                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icon precio" class="img-fluid mb-3")
                    h2.mb-3 Mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit